@page
@model ListModel
@{
}

<div class="flex flex-col space-y-4">
    @foreach (var user in Model.Users)
    {
        <div class="flex space-x-4">
            <h3>@user.Id</h3>
            <a asp-page="./User" asp-route-userId="@user.Id">
                @user.Name
            </a>
            <a asp-page="./Edit" asp-route-userId="@user.Id">Edit</a>
            <a asp-page="./Delete" asp-route-userId="@user.Id">Delete</a>
        </div>
    }
</div>